<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note collector</title>
   <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <header class="header">
        <p class="logo">Bhuvnesh</p>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="/home" class="nav-link">See all and Add note</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">About</a>
            </li>
          </ul>
        </nav>
      </header>
      <main class="main">
        <h1 class="heading">Best place to host your notes</h1>
        <p class="text">Search notes</p>
        <form class="form" action="/search" method="post">
          <input type="text" name="search" class="input" placeholder='Search notes'>
          <button type="submit" class="btn">Search Note</button>
        </form>
      </main>
</body>
</html>